.header {
    background-color: var(--mainColor);
    width: 100%;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 25px;
    z-index: 5;
}